///* ========================================================================
//   #FONT-SIZE
//   ======================================================================== */

// Generate a font-size and baseline-compatible line-height.
@mixin iwdf-font-size($font-size, $line-height: auto, $iwdf-important: false) {

  @if (type-of($font-size) == number) {
    @if (unit($font-size) != "px") {
      @error "`#{$font-size}` needs to be a pixel value.";
    }
  } @else {
    @error "`#{$font-size}` needs to be a number.";
  }

  @if ($iwdf-important == true) {
    $iwdf-important: !important;
  } @elseif ($iwdf-important == false) {
    $iwdf-important: null;
  } @else {
    @error "`#{$iwdf-important}` needs to be `true` or `false`."
  }

  // We provide a `px` fallback for old IEs not supporting `rem` values.
  font-size: $font-size $iwdf-important;
  font-size: ($font-size / $iwdf-global-font-size) * 1rem $iwdf-important;

  @if ($line-height == 'auto') {
    line-height: ceil($font-size / $iwdf-global-line-height) * ($iwdf-global-line-height / $font-size) $iwdf-important;
  }

  @else {

    @if (type-of($line-height) == number or $line-height == 'inherit' or $line-height == 'normal') {
      line-height: $line-height $iwdf-important;
    }

    @elseif ($line-height != 'none' and $line-height != false) {
      @error "D’oh! `#{$line-height}` is not a valid value for `$line-height`."
    }

  }

}
