<div class="o-sidebar">
  <ul>
    <li>
      <a routerLinkActive="active">
        <a routerLink="/components">
          Home
        </a>
      </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['typography']">
        Typography
      </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['buttons']">
        Buttons
      </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['grid']">
        Grid
      </a>
    </li>
  </ul>
</div>
<div class="o-components">
  <router-outlet></router-outlet>
</div>
