/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: 1rem 2rem;
  transition: all 300ms ease-in-out;
  border-radius: 3px;
}

/* Style variants
   ========================================================================== */

.c-btn--primary {
  background-color: #4A8EC2;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    color: #FFFFFF;
  }

  &:hover,
  &:focus {
    background-color: #3774A2;
  }

}

.c-btn--secondary {
  background-color: #2F4054;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #FFFFFF;
  }

  &:hover,
  &:focus {
    background-color: #1D2733;
  }

}

.c-btn--tertiary {
  background-color: #FFFFFF;
  color: #4A8EC2;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #4A8EC2;
  }

  &:hover,
  &:focus {
    color: #3774A2;
  }

}

/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: 1rem 2rem;
}

.c-btn--large {
  padding: 1rem 2rem;
}

.c-btn--ghost {
  border: 1px solid #FF55FF;
  padding: 1rem 2rem;

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  &.c-btn--small {
    padding: 1rem 2rem;
  }

  &.c-btn--large {
    padding: 1rem 2rem;
  }

  &.c-btn--primary {
    color: #4A8EC2;

    &:hover,
    &:focus {
      color: #3774A2;
    }

  }

  &.c-btn--secondary {
    color: #2F4054;

    &:hover,
    &:focus {
      color: #1D2733;
    }

  }

  &.c-btn--tertiary {
    color: #FFFFFF;

    &:hover,
    &:focus {
      color: #FFFFFF;
    }

  }

}
