<div class="panel-body">
  <div class="section-block">
    <h1>H1. Heading 1</h1>
    <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar, lacinia scelerisque pharetra, placerat vestibulum eleifend pellentesque.</p>
  </div>
  <div class="section-block">
    <h2>H2. Heading 2</h2>
    <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar, lacinia scelerisque pharetra, placerat vestibulum eleifend pellentesque.</p>
  </div>
  <div class="section-block">
    <h3>H3. Heading 3</h3>
    <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar, lacinia scelerisque pharetra, placerat vestibulum eleifend pellentesque.</p>
  </div><div class="section-block">
    <h4>H4. Heading 4</h4>
    <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar, lacinia scelerisque pharetra,.</p>
  </div>
  <div class="section-block">
    <h5>H5. Heading 5</h5>
    <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar, lacinia scelerisque pharetra.</p>
  </div>
  <div class="section-block">
    <h6>H6. Heading 6</h6>
    <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar, lacinia scelerisque pharetra.</p>
  </div>
</div>
