:host {
  display: block;
  margin-left: auto;
  ul {
    display: flex;
  }
  li {
    padding-right: 1rem;
    a {
      color: #FAFAFA;
      text-transform: uppercase;
    }
  }
  li.active {
    a {
      color: #FFF9C4;
    }
  }
}
