<nav>
  <ul>
    <li routerLinkActive="active">
      <a routerLink="">
        home
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/components">
        components
      </a>
    </li>
  </ul>
</nav>
