:host {
  display: grid;
  grid-gap: 8px;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "page"
    "footer";
  background-color: #FFFFFF;
  grid-template-rows: 80px 1fr 80px;
}
