/**
 * CONTENTS
 *
 * SETTINGS
 * Colors...............Global/Theme colors.
 * Core.................Core and setup settings.
 * Typography...........Project-wide variables and settings.
 *
 * TOOLS
 * Font-size............A mixin which guarantees baseline-friendly line-heights.
 * Clearfix.............Micro clearfix mixin.
 * Hidden...............Mixin for hiding elements.
 * Sass MQ..............inuitcss’ default media query manager.
 *
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 * Normalize.css........A level playing field using @necolas’ Normalize.css.
 * Reset................A tiny reset to complement Normalize.css.
 * Shared...............Sensibly and tersely share some global commonalities
 *                      (particularly useful when managing vertical rhythm).
 *
 * ELEMENTS
 * Page.................Set up our document’s default `font-size` and
 *                      `line-height`.
 * Headings.............Very minimal (i.e. only font-size information) for
 *                      headings 1 through 6.
 * Images...............Base image styles.
 * Tables...............Simple table styles.
 *
 * OBJECTS
 * Wrapper..............Page constraint object.
 * Layout...............Generic layout module.
 * Media................Image- and text-like content side by side. The
 *                      poster-child of OOCSS.
 * Flag.................Table-layout-based advancement on the Media object.
 * List-bare............Lists with no bullets or indents.
 * List-inline..........A list whose items all site in a line.
 * Box..................Simple boxing abstraction.
 * Block................Image-on-top-of-text object.
 * Ratio................A container for maintaining aspect ratio of content.
 * Crop.................Provide a cropping context for media (images, etc.).
 * Table................Classes for manipulating `table`s.
 * Pack.................Pack items into available horizontal space.
 *
 * COMPONENTS
 * Buttons..............An example button component, and how it fits into the
 *                      inuitcss framework.
 *
 * UTILITIES
 * Clearfix.............Bind our clearfix onto a utility class.
 * Widths...............Simple width helper classes.
 * Headings.............Reassigning our heading styles to helper classes.
 * Spacings.............Nudge bits of the DOM around with these spacing
 *                      classes.
 * Responsive-Spacings..Enhances the function of normal spacings for
 *                      responsive usage.
 * Print................Reset-like styles taken from the HTML5 Boilerplate.
 * Hide.................Helper classes to hide content
 */

/*
*  Used with preprocessors and contain font, colors definitions, etc.
*/
@import "settings/settings.colors";
@import "settings/settings.core";
@import "settings/settings.typography";

/*
  Globally used mixins and functions.
  It’s important not to output any CSS in the first 2 layers.
*/
@import "tools/tools.font-size";
@import "tools/tools.clearfix";

// GENERIC
/*
  Reset and/or normalize styles, box-sizing definition, etc.
  This is the first layer which generates actual CSS.
*/
@import "generic/generic.box-sizing";
@import "generic/generic.fix";

/*
  Styling for bare HTML elements (like H1, A, etc.).
  These come with default styling from the browser so we can redefine them here.
*/
@import "elements/elements.headings";

/*
  Class-based selectors which define undecorated design patterns,
  for example media object known from OOCSS
*/
@import "objects/objects.grid.scss";

/*
  Specific UI components. This is where majority of our work takes place and our UI
  components are often composed of Objects and Components
*/
@import "components/components.buttons";

/*
  Utilities and helper classes with ability to override anything which
  goes before in the triangle, eg. hide helper class
*/
@import "trumps/trumps";
